[submodule "bundle/moria"]
	path = bundle/moria
	url = git://github.com/vim-scripts/moria.git
[submodule "bundle/peaksea"]
	path = bundle/peaksea
	url = git://github.com/vim-scripts/peaksea.git
[submodule "bundle/wombat256"]
	path = bundle/wombat256
	url = git://github.com/vim-scripts/wombat256.vim.git
[submodule "bundle/jsruntime"]
	path = bundle/jsruntime
	url = https://github.com/michalliu/jsruntime.vim.git
[submodule "bundle/jsoncodecs"]
	path = bundle/jsoncodecs
	url = https://github.com/michalliu/jsoncodecs.vim.git
[submodule "bundle/vim-json-bundle"]
	path = bundle/vim-json-bundle
	url = https://github.com/vim-scripts/vim-json-bundle.git
[submodule "bundle/sourcebeautify"]
	path = bundle/sourcebeautify
	url = https://github.com/vim-scripts/sourcebeautify.vim.git
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "bundle/pythoncomplete"]
	path = bundle/pythoncomplete
	url = https://github.com/vim-scripts/pythoncomplete.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/supertab-continued"]
	path = bundle/supertab-continued
	url = https://github.com/vim-scripts/SuperTab-continued..git
[submodule "bundle/javacomplete"]
	path = bundle/javacomplete
	url = https://github.com/vim-scripts/javacomplete.git
[submodule "bundle/OmniCppComplete"]
	path = bundle/OmniCppComplete
	url = https://github.com/vim-scripts/OmniCppComplete.git
